@font-face {
	font-family: "Roboto";
	src:
		url("../fonts/roboto.woff"),
		url("../fonts/roboto.woff2");
	font-weight: normal;
	font-style: normal;

	font-family: "Robotobold";
	src:
    url("../fonts/robotobold.woff"),
    url("../fonts/robotobold.woff2");
	font-weight: normal;
	font-style: normal;

	font-family: "Robotomedium";
	src:
    url("../fonts/robotomedium.woff"),
    url("../fonts/robotomedium.woff2");
	font-weight: normal;
	font-style: normal;
}

body {

    min-width: 900px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    background-color: white;
    color: black;
    font-family: "Roboto","Robotobold", "Robotomedium", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

p,
ul,
h1,
h2,
h3,
figure {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.button , .button-application ,.button-presentation, .button-web{
background-color: #FB565A;
border: none;
text-decoration: none;
color: white;
padding: 15px 54px 17px;
font-weight: 700;
font-size: 130%;
  border-radius: 5px;
}

.header {
    background-color: #EEEEEE;
    height: 10%;
}

.logo {
    float: left;
    margin-top: 1%;
    padding-left: 7%;
}


/* шапка меню */

nav {
    margin-left: 30%;
    padding-bottom: 5%;
}
.menu-item a{
  margin-left: 5%;
}

.menu-item a, .menu-item-korzina a {
    float: left;
    margin-top: 2%;
    color: #000000;
    text-decoration: none;
    font-size: 120%;
    text-transform: uppercase;
    font-weight: 700;
}

.menu-item a:hover, .menu-item-korzina a:hover {
    padding-bottom: 8px;
    border-bottom: 2px solid #FB565A;
}

.menu-item-korzina a {
    float: right;
    margin-right: 15%
}

.section-slider {
    background-color: #EEEEEE;
    width: 100%;
    height: 473px;
    left: 140px;
    top: 114px;
}


/* телефоны index */

.index {
    float: right;
    margin-right: 2%;
    padding-top: 2.8%;
}

.slide {
    width: 1157px;
    height: 431px;
}

.slide h2 {
    left: 140px;
    top: 114px;
    padding-top: 12%;
    padding-left: 8.5%;
    width: 40%;
    font-size: 300%;
    line-height: 100%;
}

.slide p {
    white-space: pre;
    padding-left: 3%;
    font-size: 120%;
    margin-top: -1%;
    margin-bottom: 3%;
}

.new-knew{
  margin-left: 8%;
}



.section-services {
    width: 1100px;
    height: 347px;
    left: 140px;
    top: 625px;
}


/* услуги */

.services h2 {
    margin-top: 2%;
    margin-left: 6%;
}

.services li {
    float: left;
    margin-left: 6%;
    margin-top: 2%;
    margin-right: 5%;
    font-size: 160%;
    font-weight: 700;
    line-height: 180%;
}

.clear {
    clear: both;
    padding-top: 50%;
}

.services-info {
    white-space: pre;
    font-size: 60%;
    line-height: 130%;
    font-weight: 500;
    margin-top: 4%;
    margin-bottom: 5%;
}
.button-web{
	padding :5px 10px 5px;
	font-weight: 500;

}

.button-application {
    background-color: #00CA74;
		padding :5px 10px 5px;
		font-weight: 500;
}

.button-presentation {
    background-color: #EFC849;
				padding: 5px 10px 5px;
					font-weight: 500;
}

hr {
    border: none;
    /* Убираем границу */
    background-color: #EEEEEE;
    /* Цвет линии */
    color: #EEEEEE;
    /* Цвет линии для IE6-7 */
    height: 2px;
    /* Толщина линии */
    margin-top: 5%;
    width: 84%;
    margin-left: 6%;
    margin-right: 10%;
}

.company {
    margin-left: 6%;
    margin-top: 3%;
    line-height: 300%;
}

.company h2 {
    white-space: pre;
    line-height: 110%;
    font-size: 200%;
    margin-bottom: 1%;
}

.header-info {
    white-space: pre;
    line-height: 150%;
    margin-bottom: 2%;
}

.detail-list-title {
    font-weight: 800;
    font-size: 100%;
}

.detail-list {
    list-style-type: "– ";
}

.work {
    float: left;
    margin-top: -27%;
    text-align: center;
    margin-left: 63%;
}

.work p {
    text-align: left;
    font-weight: 800;
}

.since {
    font-weight: 800;
}

.since-advantage-procent li,
.since-advantage li {
    float: left;
    margin-left: 10%;
    font-size: 200%;
    font-weight: 700
}

.since-advantage li {
    float: left;
    font-size: 70%;
    margin-left: 10%;
    width: 22%;
    line-height: 140%;
}

.line {
    margin-left: 0%;
    width: 88%;
}

.customers img {
    float: left;
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 6%;
    margin-bottom: 2%;
}

.adress {
    margin-top: 3%;
}

.adress img {
    width: 100%;
}

.metka img {
    position: absolute;
    height: 12%;
    width: 10%;
    margin-left: 61%;
    margin-top: -17%;
}

.nerds {
    background-color: #FFFFFF;
    width: 17%;
    margin-left: 6%;
    padding-left: 3%;
    margin-top: -23%;
    position: absolute;
    padding-top: 3%;
    height: 37%;
}

.nerds p {
    margin-top: 5%;
    margin-bottom: 10%;
    color: #666666;
}

.tel {
    margin-top: 5%;
    padding-bottom: 15%;
}

.tel a {
    color: #666666;
    text-decoration: none;
}


/* отдельное окно */

.background-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: none;
    margin: 0;
    padding: 0;
}

.background-modal:target {
    display: block;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
		width: 50%;
		margin: 30px auto;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 6px;
    outline: 0;
}



.close {
    padding: 1px 5px 0;

    font-size: 50px;
    line-height: 1;
    color: #FB565A;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
    top: 4px;
    right: 4px;
    position: absolute;
    margin-top: 3%;
    margin-right: 3%
}

.my-modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}


/* стили в нем */

.window {
    color: black;
    font-size: 150%;
    margin-left: 10%;
    margin-top: 4%;
}

.data {
    display: block;
    font-size: 60%;
    color: black;
    font-weight: 800;
    margin-top: 5%;
    margin-bottom: 0%;
}

input {
    margin-top: -40%;
    width: 40%;
    padding: 1% 1% 1% 1%;
    border: 2px solid #D7DCDE;
    color: #444444;
    border-radius: 5px;
}

.feedback-right-column {
    float: right;
    margin-right: 28%;
    margin-top: -9.4%;
    margin-bottom: 5%;
}

.feedback-right-column input {
    width: 170%;
    padding: 4% 4% 4% 4%;
}

.data-text-email label {
    font-size: 70%;
    font-weight: 800;
}

.data-text-email textarea {
    margin-top: 1%;
    width: 90%;
    border: 2px solid #D7DCDE;
    padding: 1% 1% 1% 1%;
    border-radius: 5px;
    margin-bottom: 3%;
}

.button-send, .button-cancell {
    float: left;
    background-color: #FB565A;
    margin-right: 5%;
    padding: 2% 5% 2% 5%;
    margin-bottom: 4%;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 80%;
    border: none;
}

.button-cancell {
    padding: 2% 8% 2% 8%;
}


/*  */

.footer-sait {
    margin-left: 6%;
    margin-top: 2%;
}

.icons li {
    float: left;
    height: 30%;
    width: 5%;
}

.footer-left-column img,
.footer-btn img {
    height: 50%;
    width: 50%;
    background-color: #E1E1E1;
    padding: 20% 20% 20% 20%;
    border-radius: 50%;
}

.footer-right-column {
    float: right;
    margin-right: 30%;
    margin-top: 0.5%;
}

.title {
    font-size: 200%;
    margin-bottom: 3%;
}

.info {
    margin-bottom: 5%;
}




/* для второй страницы */

fieldset {
    border: none;
}


/* шапка меню */

.menu-catalog {
    margin-left: 30%;
    padding-bottom: 20%;
}

.current-menu-item {
    padding-bottom: 8px;
    border-bottom: 2px solid #FB565A;
}

.shop {
    margin-top: -10%;
    padding-bottom: 10%;
    text-align: center;
    font-size: 300%;
}


/* середина */

.middle section {
    float: left;
    display: block;
}

.middle-left {
    height: 100%;
    width: 30%;
}

.middle-right {
    height: 100%;
    width: 70%;
}

.sort {
    margin-left: 10%;
    font-size: 85%;
    font-weight: 700;
    padding-top: 2%;
}

.sort-by {
    margin-top: -2.3%;
}

.sort-by ul {
    margin-right: 10%;
    margin-left: 30%;
}

.sort-by-item li {
    float: right;
    margin-right: 5%;
    opacity: 0.3;
    text-transform: uppercase;
}

.sort-by-item li:hover {
    opacity: 1
}

.img-sait {
    margin-top: 5%;
    margin-left: 10%;
}

.img-screen-sait li {
    float: left;
    margin-right: 10%;
    margin-bottom: 5%;
    background-color: #4D4D4D;
    padding: 1% 0% 0% 0%;
    text-indent: 3%;
    text-align: justify;
    border-radius: 5px;
}

.img-screen-sait li:hover {
    background-color: #EEEEEE;
}

.img-screen-sait img {
    border-radius: 15px;
}

.info-img {
    position: relative;
    width: 100%;
    height: 270px;
    margin-top: -270px;
}
.info-img:hover .block-info-img {
    display: block;
}

.block-info-img {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: #EEEEEE;
    border-radius: 5px;
    color: black;
    display: none;
    text-align: center;
    padding-top: 3%;
    line-height: 200%;
}

.block-info-img p {
    color: #666666;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 120%;
    padding-top: 3%;
    padding-bottom: 5%;
}

.block-info-img h3 {
    font-size: 150%;
    padding-top: 5%;
}

/*  */

.round-screen {
    white-space: pre;
}

.round-screen::before {
    content: "\2B24   \2B24   \2B24";
    color: white;
}

.page {
    margin-left: 8%;
}

.page-number {
    float: left;
    margin-left: 2%;
    margin-bottom: 5%;
    background-color: #EEEEEE;
    border: 3px solid #EEEEEE;
    font-weight: 700;
    text-align: center;
    padding: 1.3% 2% 1.3% 2%;
    border-radius: 5px;
}

.page-number:hover {
    background-color: #FFFFFF;
    border: 3px solid #DBDBDB;
}

.filters {
    margin-left: 18%;
}

legend {
    /* margin-left: 85%; */
    font-weight: 700;
    padding-top: 6.5%;
    text-transform: uppercase;
    font-size: 85%;
    margin-bottom: 30%;
}

.band-big-round{
  position:relative;
  width:20px;
  height:20px;
  background:#FFFFFF;
  border-radius:50px;
  bottom: 10px;
  float: left;
  margin-right: 25%;
}

.band-small-round{
  position:absolute;
  top:7px;
  left:7px;
  width:5px;
  height:5px;
  background:#ABABAB;
  border-radius:25px;
}

.band {

    background: linear-gradient(to right, #00CA74 80px, #D7DCDF 30px);
    width: 70%;
    margin-left: 5%;
    padding: 1px 1px 1px 1px;
    border-radius: 5px;

}

.background-band{
      background-color: #EEEEEE;
     padding-top: 20px;
     margin-left: 6%;
     margin-top: 5%;
    border-radius: 10px;
     width: 20%;
     position: absolute;


}


.min-max-price {
    margin-left: 4%;
    margin-bottom: 10%;
}

.min-max-price label {
    margin-right: 7%
}

.min-max-price-text {
    width: 30%;
    padding: 3% 1% 3% 1%;
    text-align: center;
    border: none;
    background-color: #EEEEEE;
}

.setka {
    margin-bottom: 3%;
}

.radio {
    position: relative;
    margin-bottom: 1rem;
}


/* Спрячем дефолтные маленькие кружочки, свойство appearance обязательно прописываем с вендорными префиксами. */

.radio-input {
    appearance: none;
    /* убираем стандартные кружочки */
    position: absolute;
    border: none;
}


/* Стилизуем текст внутри тега label. */

.radio-label {
    padding-left: 35px;
    font-size: 1rem;
    color: #283136;
    cursor: pointer;
    /* курсор рука */
}


/* Создадим два состояния radio кнопок, с помощью псевдоэлементов before+after.
Стилизуем before, как пустой белый кружок, after – кружок с цветным фоном,
изображающий отмеченное состояние. На деле, круг с меньшим диаметром after,
будет находиться внутри круга с большим диаметром before. */


/* Стилизуем псевдоэлемент before */

.radio-label:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 4px solid #4D4D4D;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: border .1s linear;
}


/* Стилизуем псевдоэлемент after */

.radio-label:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #4D4D4D;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 2;
    /* на верхнем слое */
    transition: opacity .1s linear;
    /* плавный переход для opacity */
}

.radio-input:checked + .radio-label:after {
    opacity: 1;
}


/* checkbox */

.checkbox {
    position: relative;
    margin-bottom: 1rem;
}


/* Спрячем дефолтные маленькие кружочки, свойство appearance обязательно прописываем с вендорными префиксами. */

.checkbox-input {
    appearance: none;
    /* убираем стандартные кружочки */
    position: absolute;
    border: none;
}


/* Стилизуем текст внутри тега label. */

.checkbox-label {
    padding-left: 35px;
    /* отступ слева */
    font-size: 1rem;
    color: #283136;
    cursor: pointer;
    /* курсор рука */
}


/* Создадим два состояния checkbox кнопок, с помощью псевдоэлементов before+after. Стилизуем before, как пустой белый кружок, after – кружок с цветным фоном, изображающий отмеченное состояние. На деле, круг с меньшим диаметром after, будет находиться внутри круга с большим диаметром before. */


/* Стилизуем псевдоэлемент before */

.checkbox-label:before {
    content: "";
    display: block;
    /* не в строку */
    width: 18px;
    /* ширина блока */
    height: 18px;
    /* высота блока */
    border: 2px solid #4D4D4D;
    /* рамка */
    background-color: #EEEEEE;
    /* цвет фона */
    border-radius: 5px;
    position: absolute;
    /* расположен точно в родителе */
    top: 0;
    /* расстояние от верха родителя */
    left: 0;
    /* расстояние слева от родителя */
    z-index: 1;
    /* на нижнем слое */
    transition: border .1s linear;
    /* плавный переход для border */
}


/* Стилизуем псевдоэлемент after */

.checkbox-label:after {
    content: "\2714";
    display: block;
    width: 14px;
    height: 10px;
    color: #4D4D4D;
    opacity: 0;
    /* полностью прозрачный */
    position: absolute;
    top: 0px;
    left: 5px;
    z-index: 2;
    /* на верхнем слое */
    transition: opacity .1s linear;
    /* плавный переход для opacity */
    font-size: 120%;
}

.checkbox-input:checked + .checkbox-label:after {
    opacity: 1;
}

.features {
    margin-bottom: 2%;
}

.button-info-left {
    width: 70%;
    margin-left: 4%;
    margin-top: 7%;
    padding-top: 3%;
    padding-bottom: 3%;
    border: none;
    font-weight: 700;
    font-size: 110%;
    border-radius: 5px;
}


/*  */

.write-us {
margin-left: -9%
}
